{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src/app",
          "@components": "./src/app/common/components",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
